/* App styles
   ========================================================================== */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    h1 {
        color: #3b3b3b
    }
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}